* {-moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
    height: 100%;
}

body{
    min-height: 100%;
    /* margin-bottom: 65px; */
    padding: 0;
    /* min-width: 576px; */
}

/******** Navbar *********/
.opacity{
    background-color: transparent;
}

.color{
    background-color: rgb(49, 110, 179, 0.8);
}

.navbar-brand>img {
    padding: 15px; /* firefox bug fix */
    width: 100px;
    border-radius: 40%;
}

.nav-link{
    font-family: 'Cinzel', serif;
    font-size: 1.7vw;
    color: #3B185F; 
}

.nav-link:hover{
    text-decoration: underline;
    color: #380f3f;
}

/******** Header *********/
#header{
    background-image: url("../img/header/conny-schneider-xuTJZ7uD7PI-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 843px;
    margin-top: -12%;
    position: relative;
}

.container-header{
    width: 60%;
    position: absolute;
    top:45%;
    left:35%;
    text-align: center;
}
.container-header>h1{
    font-family: 'Moon Dance', cursive;
    font-size: 7vw;
    background-color: #3c185f76;
    border-radius: 50%;
}

/******** Bio *********/
#bio{
    background-color: #ac8daf;
    height: 650px;
}

#text-propos{
    color: aliceblue;
    font-size: 2.15vw;
    font-family: 'Playfair Display', serif;
    /* opacity: 0; */
    /* font-family: 'Playfair Display', serif; */
}

#text-propos>a{
    text-decoration:none;
    color: aliceblue;
}

#propos-img{
    width: 15%;
    border-radius: 45% 45% 45% 45%;
    margin-top: 2%;
    /* margin-left: -20%; */
}

/******** Footer *********/
.footer {
    text-align: center;
    height: 200px;
    background-color: darkgrey;
}

.copy-footer{
    position: fixed;
    left: 0;
    bottom: -15px;
    width: 100%;
    background-color: rgb(196, 193, 193);
    height: 30px;
    font-size: 1.25vw;
}

.copy-footer>a{
    text-decoration: none;
    color: black;
}

.links{
    height: 180px;
}

.fa-envelope, .fa-telegram, .fa-twitter, .fa-linkedin, .fa-github {
    font-size: 4vw;
}